<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname, autofocus: true, required:true %>
  </div>

  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, autofocus: true, required:true  %>
  </div>

  <div class="field">
    <%= f.label :country %><br />
    <%= f.country_select :country %>
  </div>

  <div class="field">
    <%= f.label :contact %><br />
    <%= f.telephone_field :contact, autofocus: true, required:true , pattern:'[0-9]{3}-[0-9]{2}-[0-9]{3}',placeholder:"123-45-678"%>
  </div>

  <div class="field">
    <%= f.label :password %>
    <em>(7 characters minimum)</em>
  </br>
    <%= f.password_field :password , required:true , minlength: '7', pattern: '?=.*[a-z])(?=.*[A-Z])(?=.*\W)'%>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, required:true  %>
  </div>
  </br>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
