<h1>Admin profile</h1>

<div>
  <strong>First Name: </strong>
  <%= @admin.firstname %>
</div>

<div>
  <strong>Last Name: </strong>
  <%= @admin.lastname %>
</div>

<div>
  <strong>Email Address: </strong>
  <%= @admin.email %>
</div>

<div>
  <strong>Contact Number: </strong>
  <%= @admin.contact %>
</div>

<div>
  <strong>Country of Residence: </strong>
  <%= @admin.country %>
</div>
