<%= link_to 'MyProfile', admin_path %>
<%= link_to 'UserListing', admin_users_path %>
<%= link_to 'Signout', destroy_admin_session_path, method: :delete %>

<h1>Admin profile</h1>

<div>
  <strong>First Name: </strong>
  <%= @admin.firstname %>
</div>

<div>
  <strong>Last Name: </strong>
  <%= @admin.lastname %>
</div>

<div>
  <strong>Email Address: </strong>
  <%= @admin.email %>
</div>

<div>
  <strong>Contact Number: </strong>
  <%= @admin.contact %>
</div>

<div>
  <strong>Country of Residence: </strong>
  <%= @admin.country %>
</div>
