<div class="text-center container jumbotron col-md-6 align-middle">
  <h1><%= @admin.firstname %> <%= @admin.lastname %></h1>
  <p><%= @admin.email %></p>
  <p><%= @admin.contact %></p>
  <p><%= @admin.country %></p>
</div>
