<h1>Edit Personal Information</h1>

<%= form_with model: @user, local: true do |f| %>

  <div class="field">
    <%= f.label :firstname, "First Name: *" %>
    <p><%= f.text_field :firstname, autofocus: true, autocomplete: "firstname" %></p>
  </div>

  <div class="field">
    <%= f.label :lastname, "Last Name: *" %>
    <p><%= f.text_field :lastname, autocomplete: "lastname" %></p>
  </div>

  <div class="field">
    <%= f.label :country, "Country: *" %>
    <p><%= f.country_select :country, autocomplete: "country" %></p>
  </div>

  <div class="field">
    <%= f.label :contact, "Phone Number: *" %>
    <p><%= f.telephone_field :contact, autofocus: true, required: true, pattern: "[0-9]{3}-[0-9]{2}-[0-9]{3}", placeholder: "123-45-678" %></p>
  </div>

  <div class="field">
    <%= f.label :email, "Email Address: *" %>
    <p><%= f.email_field :email, autocomplete: "email" %></p>
  </div>

  <div class="field">
    <%= f.label :gender, "Gender: *" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>

<% end %>
