<h1>My profile</h1>

<div>
  <strong>First Name: </strong>
  <%= @user.firstname %>
</div>

<div>
  <strong>Last Name: </strong>
  <%= @user.lastname %>
</div>

<div>
  <strong>Email Address: </strong>
  <%= @user.email %>
</div>

<div>
  <strong>Phone Number: </strong>
  <%= @user.contact %>
</div>

<div>
  <strong>Country: </strong>
  <%= @user.country %>
</div>

<%= link_to 'Edit Profile', edit_user_registration_path(current_user) %>
