<%= link_to 'MyProfile', user_path(current_user) %>
<%= link_to 'Signout', destroy_user_session_path, method: :delete %>

<h1>User profile</h1>

<div>
	<strong>Firstname: </strong>
	<%= @user.firstname %>
</div>

<div>
	<strong>Lastname: </strong>
	<%= @user.lastname %>
</div>

<div>
	<strong>Email: </strong>
	<%= @user.email %>
</div>

<div>
	<strong>Contact number: </strong>
	<%= @user.contact %>
</div>

<div>
	<strong>Country of residence: </strong>
	<%= @user.country %>
</div>

<%= link_to 'Edit Profile', edit_user_registration_path(current_user) %>
