<%= render "progress_bar", object: @progress %>

<h3>Camp Actvities</h3>

<%= form_for @camp_application, url: wizard_path, method: :put do |f| %>
  <div class="field">
    <p>Would you like to participate in one of our camp activities?</p>
    <p>
      <%= radio_button_tag "want_to", "participate" %>
      <%= label_tag "Yes" %>
      <%= radio_button_tag "dont_want_to", "participate" %>
      <%= label_tag "No" %>
    </p>
  </div>

  <div class="field d-none", id="display-activity-list">
    <%= f.label :camp_activity, "Tell us what you will enjoy the most:" %>
    <p><%= f.select :camp_activity, CampUser::CAMP_ACTIVITIES %></p>
  </div>

  <div class="field d-none", id="check-contribution">
    <p>Would you like to contribute to any camp activities?</p>
    <p>
      <%= radio_button_tag "want_to", "contribute" %>
      <%= label_tag "Yes" %>
      <%= radio_button_tag "dont_want_to", "contribute" %>
      <%= label_tag "No" %>
    </p>
  </div>

  <div class="field d-none", id="display-contribution-field">
    <%= f.label :contribution, "Please specify (singing, storytelling, poetry etc)" %>
    <p><%= f.text_field :contribution %></p>
  </div>

  <button><%= link_to 'Back', previous_wizard_path %></button>
  <div class="float-right">
    <%= f.submit "Next", class: "btn btn-primary" %>
    <button><%= link_to 'Skip', next_wizard_path %></button>
  </div>
<% end %>
