<h3>Please provide your emergency contact information</h3>

<%= form_for @camp_application, url: wizard_path, method: :put do |f| %>
  <div class="field">
    <p>Would you like to participate in one of our camp activities?</p>
    <p>
      <%= radio_button_tag "want_to_participate", class: "want_to_participate" %>
      <%= label_tag "Yes" %>
      <%= radio_button_tag "dont_want_to_participate", class: "dont_want_to_participate" %>
      <%= label_tag "No" %>
    </p>
  </div>

  <div class="field d-none", id="display-activity-list">
    <%= f.label :camp_activity, "Tell us what you will enjoy the most:" %>
    <p><%= f.select :camp_activity, CampUser::CAMP_ACTIVITIES %></p>
  </div>

  <div class="field d-none", id="check-contribution">
    <p>Would you like to contribute to any camp activities?</p>
    <p>
      <%= radio_button_tag "want_to_contribute", class: "want_to_contribute" %>
      <%= label_tag "Yes" %>
      <%= radio_button_tag "dont_want_to_contribute", class: "dont_want_to_contribute" %>
      <%= label_tag "No" %>
    </p>
  </div>

  <div class="field d-none", id="display-contribution-field">
    <%= f.label :contribution, "Please specify (singing, storytelling, poetry etc)" %>
    <p><%= f.text_field :contribution %></p>
  </div>

  <%= f.submit "Next" %>
<% end %>

<%= link_to 'skip', next_wizard_path %>
