<%= render "progress_bar", object: @progress %>

<h3>Condition of health</h3>

<%= form_for @camp_application, url: wizard_path, method: :put do |f| %>
  <%= f.label :health_condition, "Please let us know if you have any health related problems or diabilities. In case you dont, write none." %>
  <p><%= f.text_field :health_condition, autofocus: true %></p>

  <button><%= link_to 'Back', previous_wizard_path %></button>
  <div class="float-right">
    <%= f.submit "Next", class: "btn btn-primary" %>
    <button><%= link_to 'Skip', next_wizard_path %></button>
  </div>
<% end %>
