<%= render "progress_bar", object: @progress %>

<h3>Please provide your emergency contact information</h3>

<%= form_for @camp_application, url: wizard_path, method: :put do |f| %>
  <div class="field">
    <%= f.label :emergency_contact, "Emergency Contact Number: *" %>
    <p><%= f.text_field :emergency_contact, autofocus: true, pattern: "[0-9]{3}-[0-9]{2}-[0-9]{3}" %></p>
  </div>

  <div class="field">
    <%= f.label :mailing_address, "Mailing Address: *" %>
    <p><%= f.text_field :mailing_address %></p>
  </div>

  <button><%= link_to 'Back', previous_wizard_path %></button>
  <div class="float-right">
    <%= f.submit "Next", class: "btn btn-primary" %>
    <button><%= link_to 'Skip', next_wizard_path %></button>
  </div>
<% end %>
