<%= render "progress_bar", object: @progress %>

<h3>Write us note!</h3>

<%= form_for @camp_application, url: wizard_path, method: :put do |f| %>
  <%= f.label :side_note, "Leave a suggestion or anything you wanna let us know." %>
  <p><%= f.text_area :side_note, autofocus: true %></p>

  <button><%= link_to 'Back', previous_wizard_path %></button>
  <div class="float-right">
    <%= f.submit "Next", class: "btn btn-primary" %>
    <button><%= link_to 'Skip', next_wizard_path %></button>
  </div>
<% end %>
