<h3>Edit User Camp Application</h3>

<%= render "layouts/error_messages", object: @application %>

<div class="jumbotron col-md-8">
<%= form_for @application, url: admin_camp_application_path , method: :put do |f| %>

  <div class="row">
    <div class="col-md-4">
      <%= f.label :mailing_address, "Mailing Address: *" %>
      <p><%= f.text_field :mailing_address %></p>
    </div>

    <div class="col-md-4">
      <%= f.label :emergency_contact, "Emergency Contact Number: *" %>
      <p><%= f.text_field :emergency_contact, autofocus: true, pattern: "[0-9]{3}-[0-9]{2}-[0-9]{3}" %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= f.label :camp_activity, "Activity of interest: *" %>
      <p><%= f.select :camp_activity, CampUser::CAMP_ACTIVITIES %></p>
    </div>

    <div class="col-md-4">
      <%= f.label :contribution, "Any Contribution: *" %>
      <p><%= f.text_field :contribution %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= f.label :health_condition, "Health Condition: *" %>
      <p><%= f.text_field :health_condition %></p>
    </div>

    <div class="col-md-4">
      <%= f.label :social_media_handle, "Social Media Handle: *" %>
      <p><%= f.text_field :social_media_handle, autofocus: true %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p>Need First Aid? *</p>
      <p>
        <%= radio_button_tag(:require_first_aid, true) %>
        <%= label_tag "Yes" %>
        <%= radio_button_tag(:require_first_aid, false) %>
        <%= label_tag "No" %>
      </p>
    </div>

    <div class="col-md-4">
      <p>Internet Service: *</p>
      <p>
        <%= radio_button_tag(:avail_internet_service, true) %>
        <%= label_tag "Yes" %>
        <%= radio_button_tag(:avail_internet_service, false) %>
        <%= label_tag "No" %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= f.label :side_note, "Leave a suggestion:" %>
      <p><%= f.text_area :side_note, autofocus: true %></p>
    </div>

    <div class="col-md-4">
      <p>Food Service: *</p>
      <p>
        <%= radio_button_tag(:avail_food_service, true) %>
        <%= label_tag "Yes" %>
        <%= radio_button_tag(:avail_food_service, false) %>
        <%= label_tag "No" %>
      </p>
    </div>
  </div>

  <div class="row">
    <%= f.file_field :user_image %>
      <% if @application.user_image.attached? %>
        <%= image_tag(@application.user_image, class: "img-thumbnail") %>
    <% end %>
  </div>

  <div class="actions float-right">
    <button><%= link_to 'Back', admin_camp_applications_path %></button>
    <%= f.submit "Update" %>
  </div>

<% end %>
</div>
