<h3>Camp Applications</h3>

<div class="text-center container">
  <table class="table table-hover table-bordered">
    <thead class='thead-light'>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Percentage of Application</th>
        <th>Camp name</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @applications.each do |a| %>
        <tr>
          <td><%= a.id %></td>
          <td><%= a.user.firstname %> <%= a.user.lastname %></td>
          <td><%= a.user.email %></td>
          <td><%= a.progress %>%</td>
          <td><%= a.camp.name %></td>

          <% if a.submitted %>
            <td>Completed</td>
          <% else %>
            <td>In Progress</td>
          <% end %>

          <td>
            <% if a.submitted %>
              <button><%= link_to 'View', admin_camp_application_path(a) %></button>
            <% end %>
            <button><%= link_to 'Edit', edit_admin_camp_application_path(a) %></button>
            <button><%= link_to 'Destroy', admin_camp_application_path(a), method: :delete, data: { confirm: 'Are you sure?' } %></button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
