<h1>Application Details</h1>

<div class="jumbotron col-md-7">
  <div class="row">
    <div class="col-md-4">Application ID:</div>
    <p class="col-md-3"><%= @application.id %></p>
  </div>

  <div class="row">
    <div class="col-md-4">User ID:</div>
    <p class="col-md-3"><%= @application.user_id %></p>
  </div>

  <div class="row">
    <div class="col-md-4">Camp ID:</div>
    <p class="col-md-3"><%= @application.camp_id %></p>
  </div>

  <div class="row">
    <div class="col-md-4">Gender:</div>
    <p class="col-md-3"><%= @application.gender %></p>
  </div>

  <div class="row">
    <div class="col-md-4">Mailing Address:</div>
    <p class="col-md-3"><%= @application.mailing_address %></p>
  </div>

  <div class="row">
    <div class="col-md-4">Emergency Contact:</div>
    <p class="col-md-3"><%= @application.emergency_contact %></p>
  </div>

  <div class="row">
    <div class="col-md-4">Social Media Handle:</div>
    <p class="col-md-3"><%= @application.social_media_handle %></p>
  </div>

  <div class="row">
    <div class="col-md-4">Health Condition:</div>
    <p class="col-md-3"><%= @application.health_condition %></p>
  </div>

  <div class="row">
    <div class="col-md-4">Activity of interest:</div>
    <p class="col-md-3"><%= @application.camp_activity %></p>
  </div>

  <div class="row">
    <div class="col-md-4">Contribution:</div>
    <p class="col-md-3"><%= @application.contribution %></p>
  </div>

  <div class="row">
    <div class="col-md-4">First Aid</div>
    <% if @application.require_first_aid %>
      <p class="col-md-3">Required</p>
    <% else %>
      <p class="col-md-3">Not required</p>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-4">Food Service</div>
    <% if @application.avail_food_service %>
      <p class="col-md-3">Required</p>
    <% else %>
      <p class="col-md-3">Not required</p>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-4">Internet Service</div>
    <% if @application.avail_internet_service %>
      <p class="col-md-3">Required</p>
    <% else %>
      <p class="col-md-3">Not required</p>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-4">Progress</div>
    <p class="col-md-3"><%= @application.camp_id %></p>
  </div>

  <div class="row">
    <div class="col-md-4">Status</div>
    <% if @application.submitted %>
      <p class="col-md-3">Complete</p>
    <% else %>
      <p class="col-md-3">Incomplete</p>
    <% end %>
  </div>

  <div class="float-right">
    <button><%= link_to 'Back', admin_camp_applications_path %></button>
    <button><%= link_to 'Edit', edit_admin_camp_application_path(@application) %></button>
    <button><%= link_to 'Destroy', edit_admin_camp_application_path(@application), method: :delete, data: { confirm: 'Are you sure?' } %></button>
  </div>
</div>
