<div class="text-center container jumbotron col-md-6 align-middle">
  <h1><%= @user.firstname %> <%= @user.lastname %></h1>
  <p><%= @user.email %></p>
  <p><%= @user.contact %></p>
  <p><%= @user.country %></p>
  <p><button><%= link_to 'Back to Users', admin_users_path %></button></p>
</div>
