<h1>User Profile</h1>

<div>
  <strong>First Name: </strong>
  <%= @user.firstname %>
</div>

<div>
  <strong>Last Name: </strong>
  <%= @user.lastname %>
</div>

<div>
  <strong>Email Address: </strong>
  <%= @user.email %>
</div>

<div>
  <strong>Contact Number: </strong>
  <%= @user.contact %>
</div>

<div>
  <strong>Country of Residence: </strong>
  <%= @user.country %>
</div>
