<tr>
  <td><%= camp.id %></td>
  <td><%= camp.name %></td>
  <td><%= camp.start_date %></td>
  <td><%= camp.end_date %></td>
  <td><%= render camp.locations %></td>
  <td><%= camp.status %></td>
  <td>
    <label class="switch">
      <input type="checkbox" data-url="<%= change_camp_status_admin_camp_path(camp.id) %>" data-method="patch" data-remote="true" <%= "checked" unless camp.inactive? %>>
      <span class="slider"></span>
    </label>
  </td>
</tr>
