<h1 class="py-5 text-center container "><%= image_tag ("logo.png"), size: "100x100" %>Camp Encounters</h1>

<header>
  <div class="navbar-inner">
    <div class="container">
      <nav class="navbar navbar-light bg-light">
        <%= link_to 'Users', admin_users_path %>
        <%= link_to 'Camps', admin_camps_path %>
        <%= link_to 'Camp Applications', admin_camp_applications_path %>
        <%= link_to 'Sign Out', destroy_admin_session_path, method: :delete %>
      </nav>
    </div>
  </div>
</header>
