<h1 class="py-5 text-center container "><%= image_tag ("logo.png"), size: "100x100" %>Camp Encounters</h1>
<header>
  <div class="navbar-inner">
    <div class="container">
      <nav class="navbar navbar-light bg-light">
        <%= link_to 'My Profile', user_path(current_user) %>
        <%= link_to 'Select Camp', show_camps_user_path(current_user) %>
        <%= link_to 'My Dashboard', dashboard_user_path %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      </nav>
    </div>
  </div>
</header>
