<!DOCTYPE html>
<html>
  <head>
    <title>CampEncounters</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/camp_application_nav_bar" %>
    
    <div class="container">
      <%= render "layouts/flash_messages" %>
      <div class="container jumbotron col-md-9">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
